body {
    text-align: center;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: auto;
    grid-template-areas:
    "nav"
    "clock"
    ;
	background-color: #212122;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.navItem {
    width: auto;
}

.settingsContainer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-content: center;
	margin-top:-80px;
}

.settingsContainer > * {
		background-color: #272729;
		padding: 20px;
		border-radius: 4px;
		color:white;
		font-family: Noto Sans, sans-serif;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background-color; yellow;
}

.navBar{
	background-color: yellow;
	height: 20px;
	font-size: large;
	border-radius:4px;
}

.navItem{
	font-family: Noto Sans, sans-serif;
}

a:link{
	color: #3900ff;
	text-decoration: none; 
}
a:hover{
	color:#1ecbe1;
	text-decoration: underline;
}
a:visited{
	color:red;
}

h2{
	text-decoration: underline;
	color: white;
	font-family: Noto Sans, sans-serif;
}

h3{
	text-decoration: underline;
	color: white;
	font-family: Noto Sans, sans-serif;
}
