
body {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: auto;
    grid-template-areas:
    "nav"
    "clock"
    ;
	background-image: linear-gradient(#f1ff00, #1ecbe1);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.navItem {
    width: auto;
}

.clock > * {
    width: 50px;
    height: 100px;
    text-align: center;
    font-size: xx-large;
	font-family: Stencil Std, fantasy;
	opacity: .8;
	background-color: yellow;
	border-radius: 4px;
}

.clock {
    grid-area: clock;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    transform: scale(2);
	background-color: yellow;
	border-radius: 50%;
}

.alarmContainer {
    display: flex;
	flex-wrap: nowrap;
    justify-content: center;
    margin-top: 40px;
	font-family: Noto Sans, sans-serif;
}

.alarmContainer > * {
	background-color: #1ecbe1;
	padding: 20px;
	border-radius: 4px;
	margin-top:40px;
}
h2{
	text-decoration: underline;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background-color; yellow;
}
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background-color; yellow;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hour {
    grid-area: hour;
}

.minute {
    grid-area: minute;
}

.am-pm {
    grid-area: am-pm;
}

.setAlarm {
    grid-area: setAlarm;
	justify-content:center;
	width:100%;
	height: 40px;
	background-color: #1ecbe1;
	border-radius: 4px;
	border: 1px solid black;
}
.setAlarm:hover{
	background-color:#1cbdd2;
}

.navBar{
	background-color: yellow;
	height: 20px;
	font-size: large;
}

.navItem{
	font-family: Noto Sans, sans-serif;
}

a:link{
	color: #3900ff;
	text-decoration: none; 
}
a:hover{
	color:#1ecbe1;
	text-decoration: underline;
}
a:visited{
	color:red;
	
}
